.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: aliceblue;
}

.route{
    padding-top: 70px;
    flex-grow: 1;
}

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap')