.contactTitle {
    text-align: center;
    padding: 20px;
    margin: 10px 0 0 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
    transition: all 300ms;
}

.contactTitle:hover {
    transform: scale(1.15);
}

body{
    background: #fff;
}
.infoBox {
    color: #444444;
    background: #fafbff;
    padding: 30px;
    margin-bottom: 15px;
    transition: all 300ms;
    -webkit-box-shadow: 0px 0px 29px -10px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 0px 29px -10px rgba(0,0,0,0.53);
    box-shadow: 0px 0px 29px -10px rgba(0,0,0,0.53);
}

.contactBox {
    color: #444444;
    background: #fafbff;
    padding: 30px;
    margin-bottom: 15px;
    transition: all 300ms;
    -webkit-box-shadow: 0px 0px 29px -10px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 0px 29px -10px rgba(0,0,0,0.53);
    box-shadow: 0px 0px 29px -10px rgba(0,0,0,0.53);
}

.infoBox:hover {
    transform: scale(0.9);
}

.infoBox h3 {
    font-size: 20px;
    color: #012970;
    font-weight: 700;
    margin: 20px 0 10px 0;
}

.infoBox p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.phpEmailForm {
    background: #fafbff;
    padding: 30px;
    height: 100%;
}

.phpEmailForm .errorMessage {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}

.phpEmailForm .sentMessage {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}

.phpEmailForm .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
}

.phpEmailForm .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
}

.phpEmailForm input,
.phpEmailForm textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 0;
}

.phpEmailForm input:focus,
.phpEmailForm textarea:focus {
    border-color: #4154f1;
}

.phpEmailForm input {
    padding: 10px 15px;
}

.phpEmailForm textarea {
    padding: 12px 15px;
}

.phpEmailForm button[type=submit] {
    background: #4154f1;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.phpEmailForm button[type=submit]:hover {
    background: #5969f3;
}