.quoter.container{
    background: linear-gradient(293deg, rgba(240, 248, 255, 0.8) 0%,rgba(83, 214, 232, 0.8) 100%);
    box-shadow:0 2px 20px grey;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
}