.card.container {
    position: relative;
    overflow: hidden;
    width: 260px;
    height: 350px;
    background: linear-gradient(293deg,white 0%, #d9f7f8 100%);
    box-shadow: rgba(20, 20, 52, 0.599) 0px 50px 100px -20px, rgba(0, 0, 0, 0.632) 0px 30px 60px -30px;
}

.card.title {
    position: absolute;
    left: -9px;
    width: 101%;
    height: 28%;
    padding: 5%;
    font-size: 22px;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
    color: rgb(225, 224, 224);
     -webkit-text-fill-color: white;
    -webkit-text-stroke: .5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card.category {
    margin-top: 40%;
    width: 95%;
    height: 30%;
    padding-top: 11%;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
}
.card.card.container:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 30px 1px rgba(109, 237, 239, 0.3);
}

.btn.boton:hover{
    background: linear-gradient(293deg, rgb(185, 185, 255) 0%, rgb(72, 225, 255) 100%);;
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: .5px;
}

.btn2.boton:hover{
    background: linear-gradient(293deg, #5080FD 0%, #5CE1E6 100%);;
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: .5px;
}
