.TestUI {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 1px;
    margin: 10px 0;
    height: 400px;
    width: 240px;
    text-align: center;
    position: relative;
    cursor: pointer;
    border-radius: 15px;
    background: linear-gradient(293deg,white 0%, #d9f7f8 100%);
    box-shadow: rgba(20, 20, 52, 0.599) 0px 50px 100px -20px, rgba(0, 0, 0, 0.632) 0px 30px 60px -30px;
    overflow: hidden;
}


.TestUI .content :hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 30px 1px rgba(109, 237, 239, 0.3);
}

.TestUI .content {
    padding: 0px 6px;
}

.TestUI .content .price {
    color: white;
    font-weight: 800;
    font-size: 50px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
}

.TestUI .content .description {
    color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
    font-size: 14px;
    height: 120px;
    margin-bottom: 10px;
}

.TestUI .content .title {
    font-weight: 800;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.64);
    margin-top: 0px;
    font-size: 25px;
    letter-spacing: 1px;
    height: 110px;
    width: 220px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TestUI button {
    color:#5080FD;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    width: 100px;
    text-shadow: 0px 4px 18px #2c3442;
}

.TestUI button:hover{
    background: linear-gradient(293deg, rgb(185, 185, 255) 0%, rgb(72, 225, 255) 100%);;
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: .5px;
}

.TestUI  .name {
    font-weight: 800;
    text-transform: uppercase;
    background: #5CE1E6;
    position: absolute;
    left: -9px;
    width: 101%;
    height: 28%;
    padding: 5%;
    font-size: 22px;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
    color: white;
    margin-top: 0px;
    font-size: 25px;
    letter-spacing: 1px;
    overflow: hidden;
}

.TestUI .tag {
    color: #5080FD;
    margin-top: 110px;
    font-weight: 800;
    font-size: 50px;
    text-shadow: 0px 0px 10px rgba(5, 157, 168, 0.42);
}

.TestUI  .sample {
    color: rgb(25, 138, 176) ;
    width: 95%;
    height: 25%;
    font-size: 12px;
}

.ModalAvatar{
    width: 100%;
    display: flex;
    box-shadow: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.AvatarUI {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 1px;
    margin: 10px 0;
    height: 500px;
    width: 900px;
    background-color: #121212; 
}

.PaperContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

